{% raw %}
# build docs from docstrings and markdown-file in folder docs
# publish them as github pages
#
#note for myself
#
# Do not forget to set git branch `gh-pages` as source for github pages.
# This branch auto-updated by `mkdocs gh-deploy`
#
name: static source code checks
on:
  push:
    branches:
      - main
      - master
jobs:
  static:
    env:
      PRIMARY_PYTHON_VERSION: '3.12'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PRIMARY_PYTHON_VERSION  }}
{% endraw %}
{% if cookiecutter.uv or cookiecutter.dependencies == "uv" %}
      - name: Install uv environment
        uses: andgineer/uv-venv@v3
{% endif %}
      - name: Install dependencies{% if cookiecutter.dependencies == "uv" %}
        run: uv sync --frozen{% else %}
        run: |{% if not cookiecutter.uv %}
          python -m venv .venv{% endif %}
          . .venv/bin/activate
          {% if cookiecutter.uv %}uv {% endif %}pip install -r requirements.dev.txt
          {% if cookiecutter.uv %}uv {% endif %}pip install build{% endif %}
      - run: {% if cookiecutter.dependencies != "uv" %}. .venv/bin/activate && {% endif %}pre-commit run --verbose --all-files
