-r requirements.txt

# test
pytest
pytest-cov
allure-pytest

# lint
pre-commit
mypy
pylint

# docs
mkdocstrings[python]
mkdocs-material
pymdown-extensions
mkdocs-awesome-pages-plugin
black

# build & reqs management
-e .
hatchling
toml
{% if not cookiecutter.uv %}
pip-tools
{% endif %}
{% if cookiecutter.scripts == "invoke" %}
invoke
{% endif %}
